%%Driver. See the src folder for the associated file.
{driver, basho_bench_driver_clocks}.

%%The mode setting controls the rate at which workers invoke the {driver:run/4} function with a new operation.
{mode, max}.

%%The number of concurrent worker processes.
{concurrent, 19}.

%%The duration of the test, in seconds.
{duration, 120}.

%%The possible operations that the driver will run, plus their weight, or likelihood of being run.
{operations, [{read_txn, 1}, {update_txn, 9}, {read_update_txn, 0}]}.

%%The generator function to use for creating keys.
{key_generator, {uniform_int, 500000}}.

%%The generator function to use for creating values.
{value_generator, {fixed_bin, 10}}.

%%Some drivers need additional Erlang code in order to run.
{code_paths, ["../li-si/ebin"]}.

%% Antidote variables.
{antidote_cookie, antidote}.
{antidote_mynode, ['antidote_bench@172.16.34.12', longnames]}.
{antidote_nodes, nodes_var}.

{key_per_read_tx, 5}.
{key_per_update_tx, 5}.
{key_per_read_update_tx, 0}.