%%Driver. See the src folder for the associated file.
{driver, basho_bench_driver_clocks}.

%%The mode setting controls the rate at which workers invoke the {driver:run/4} function with a new operation.
{mode, max}.

%%The number of concurrent worker processes.
{concurrent, 100}.

%%The duration of the test, in seconds.
{duration, 60}.

%%The possible operations that the driver will run, plus their weight, or likelihood of being run.
%{operations, [{read_txn, 8}, {update_txn, 2}]}.
%{operations, [{read_txn, 5}, {update_txn, 5}]}.
{operations, [{update_txn, 10}]}.


%%The generator function to use for creating keys.
{key_generator, {pareto_int, 10000}}.
%{key_generator, {uniform_int, 4000}}.

%%The generator function to use for creating values.
{value_generator, {fixed_bin, 10}}.

%%Some drivers need additional Erlang code in order to run.
{code_paths, ["../li-si/ebin"]}.

%% Antidote variables.
{antidote_cookie, antidote}.
{antidote_mynode, ['antidote_bench@127.0.0.1', longnames]}.
{antidote_nodes, nodes_var}.

{key_per_read_tx, 5}.

{key_per_update_tx, 10}.
